body {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.column-one p {
    font-size: 20px;
    font-family: Arial, sans-serif;
}