.logo-p {
    text-align: top;
    font-family: Ranchers, cursive;
    font-size: 40px;
    margin-left: 10px;
}

.content-title {
    margin-left: 10px;
    font-family: Gadget, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.content-subtitle {
    margin-left: 10px;
    font-style: italic;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}
.introduction {
    margin-left: 20px;
    margin-right: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}

.column-one {
    margin-left: 30px;
    margin-right: 20px;
}

.column-two {
    margin-left: 20px;
    margin-right: 30px;
}